<!DOCTYPE html>
<head>
  <title>Talk to chat GPT</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='ChatGPT_logo.svg.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='ChatGPT_logo.svg.png') }}" class="icon" />
  <img src="{{ url_for('static', filename='ChatGPT_logo.svg.png') }}" class="icon_reverse" />
  <button id="dark-mode-btn">Dark Mode</button>

  <h3>Try to talk with chat GPT !</h3>
  <div id="container">
    <form id="chat-form" action="/" method="post">
      <input type="submit" value="Talking" id="talk-button"/>
    </form>

    <form action="{{ url_for('stop') }}" method="post">
      <button type="submit" name="stop" class="btn btn-danger" id="stop">Stop</button>
    </form>
  
    <form id="chat-form" action="{{ url_for('reset') }}" method="post">
      <input type="submit" value="Reset" id="reset" />
    </form>
  </div>
  
  {% if chat %}
  <div class="conversation">
    {% for question, response in chat %}
      <div class="question">Question : {{ question }}</div>
      <div class="response">Réponse : {{ response }}</div>
    {% endfor %}
  </div>
  {% endif %}

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  
</body>
